* {
  box-sizing: border-box;
}

button {
  background-color: #9db2bf;
  color: white;
  padding: 20px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
}

.displays {
  display: flex;
  flex-direction: column;
}

.test {
  width: 100%;
  height: 30px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  text-align: right;
  border-bottom: #27374d 1px solid;
}

.display {
  width: 100%;
  height: 30px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  text-align: right;
  border-bottom: #27374d 10px solid;
}

.top-buttons {
  display: flex;
  flex-grow: 1;
}

.top-buttons button {
  width: 50%;
  border: 1px solid #27374d;
}

.main {
  width: 400px;
  height: 10%;
  background-color: #27374d;
  padding: 20px;
  margin: 0 auto;
}

.bottom-buttons {
  display: flex;
}

.buttons-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  width: 60%;
}

.buttons-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
  margin: auto;
}
