*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-left: 35%;
  margin-right: 35%;
}

.btn {
  padding: 15px 25px 15px 25px;
  cursor: pointer;
}

.container {
  width: 300px;
  background-color: darkgrey;
  border-radius: 10px;
  height: 360px;
}

.main {
  padding: 0 5px 20px 5px;
}

.display {
  padding: 30px;
  text-align: right;
  background-color: aliceblue;
  height: 10%;
  border: 20px 0;
  height: 20px;
}

.all-buttons {
  display: flex;
  flex-direction: column;
}

.top-buttons {
  padding: 2px 0px 2px 0px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.delete {
  padding-right: 52px;
  padding-left: 52px;
  width: 100%;
}

.clear {
  padding-right: 52px;
  padding-left: 52px;
}

.bottom-buttons {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.zero {
  padding: 15px 58px 15px 57px;
  height: 65px;
}

.add {
  margin-left: 0px;
  padding-left: 40px;
  padding-right: 45px;
}

.subtract {
  padding-right: 44px;
  padding-left: 44px;
}

.multiply {
  padding-right: 43px;
  padding-left: 43px;
}

.top-display {
  text-align: right;
  background-color: aliceblue;
  height: 5%;
}

.data-operator {
  width: 100%;
  outline-style: solid;
  outline-color: #7d9d9c;
  outline: 5px;
  margin: 0;
}

.data-number {
  width: 31%;
  margin: 0;
  border: 0;
  outline: 1px;
  outline-style: solid;
  outline-color: #7d9d9c;
}

.data-equal {
  width: 37%;
  outline-style: solid;
  outline-color: #7d9d9c;
  outline: 1px;
  height: 70px;
  margin: 0;
}
